USE [master]
GO
/****** Object:  Database [sohbetdb]    Script Date: 15/07/21 9:19:00 PM ******/
CREATE DATABASE [sohbetdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sohbetdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sohbetdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sohbetdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sohbetdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sohbetdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sohbetdb]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/07/21 9:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nick] [nvarchar](15) NOT NULL,
	[Password] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
